@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/notosanstc/v21/nKKZ-G2zOpfx30KSrFeNQ1-Y2IunSIXSW1nN.woff2")
    format("woff2");
}

body {
  font-family: "Noto Sans TC", sans-serif;
}
